<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small">
            <div class="page-header-image" data-parallax="true"
                style="background-image: url('images/intro.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="cc-profile-image">
                        <a href="#">
                            <img src={{personalData.profilePicture}} alt="Image" />
                        </a>
                    </div>
                    <h1 class="h2 title">{{personalData.name}}</h1>
                    <p class="category text-white">{{personalData.title}}</p>
                    <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
                        data-aos-anchor="data-aos-anchor">Contact me</a>
                    <a class="btn btn-primary" href={{personalData.cvURL}} target="_blank" data-aos="zoom-in"
                        data-aos-anchor="data-aos-anchor">Download CV</a>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="button-container">
                        <a class="btn btn-default btn-round btn-lg btn-icon"
                            href={{personalData.linkedin}} target="_blank" rel="tooltip"
                            title="Follow me on Linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href={{personalData.github}}
                            target="_blank" rel="tooltip" title="Follow me on Github">
                            <i class="fa fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>